In [1]:
intdict = {'1': 'one', '2': 'two', '3': 'three'}
for key,val in intdict.items():
    print(key,val)

1 one
2 two
3 three

In [3]:
mountains = ['fuji', 'kitadake', 'okuhodakadake']
for i, mt in enumerate(mountains):
    print(i, mt)

0 fuji
1 kitadake
2 okuhodakadake

In [4]:
order = [1, 2, 3]
mountains = ['fuji', 'kitadake', 'okuhodakadake']
height = [3776, 3193, 3190]
for odr, mt, ht in zip(order, mountains, height):
    print(odr, mt, ht)

1 fuji 3776
2 kitadake 3193
3 okuhodakadake 3190

In [5]:
mountains = ['kitadake', 'okuhodakadake', 'fuji']
for mt in sorted(mountains):
    print(mt)

fuji
kitadake
okuhodakadake

In [7]:
mountains = ['fuji', 'kitadake', 'okuhodakadake']
for mt in reversed(mountains):
    print(mt)

okuhodakadake
kitadake
fuji

In [ ]:
mountains_in_japan = {''}